<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>KB 차차차 사용자 페이지</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="user/images/favicon.ico"/>
    <th:block th:replace="userFragment/head :: headerFragment"></th:block>
</head>

<body id="top">
<header>

    <!--      Model 에서 전송 되는 값에 따라 다르게 보이게-->
    <th:block th:replace="userFragment/nav :: navigationFragment"></th:block>
</header>

<!-- Slider Start -->
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xl-7">
                <div class="block">
                    <div class="divider mb-3"></div>
                    <span class="text-uppercase text-sm letter-spacing"
                    >차량 관리는 다 알아서 챙겨주는</span
                    >
                    <h1 class="mb-3 mt-3">KB차차차 내차고</h1>

                    <p class="mb-4 pr-5">
                        차량 번호만 입력하면 </br>
                        사고 정보 , 시세 , 보험 관리 리콜 정보까지 한번에
                    </p>
                    <div class="btn-container">
                        <a
                                href="/"
                                class="btn btn-main btn-round-full"
                        >바로 가기 <i class="icofont-simple-right ml-2"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section th:if="${ROLE==null}"  class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="feature-block d-lg-flex">
                    <!-- 차량 등록 하기 -->
                    <div class="feature-item mb-5 mb-lg-0">
                        <div class="feature-icon mb-4">
                            <i class="icofont-surgeon-alt"></i>
                        </div>
                        <span>24 Hours Service</span>
                        <h4 class="mb-3">차량 등록</h4>
                        <p class="mb-4">
                            연식,주행거리,색상 등 2분이면 끝! 쉽고 간단하게 내 차의 최고가에 도전하세요.
                        </p>
                        <a href="/register" class="btn btn-main btn-round-full"
                        >바로가기</a
                        >
                    </div>
                    <!-- 차량 조회 하기 -->
                    <div class="feature-item mb-5 mb-lg-0">
                        <div class="feature-icon mb-4">
                            <i class="icofont-support"></i>
                        </div>
                        <span>24 Hours Service</span>
                        <h4 class="mb-3">차량 등록 조회</h4>
                        <p class="mb-4">
                            연식,주행거리,색상 등 2분이면 끝! 쉽고 간단하게 내 차의 최고가에 도전하세요.
                        </p>
                        <a href="/usercar" class="btn btn-main btn-round-full"
                        >바로가기</a
                        >
                    </div>
                    <!-- 차량 검색 -->
                    <div class="feature-item mb-5 mb-lg-0">
                        <div class="feature-icon mb-4">
                            <i class="icofont-ui-clock"></i>
                        </div>
                        <span>Timing schedule</span>
                        <h4 class="mb-3">Working Hours</h4>
                        <ul class="w-hours list-unstyled">
                            <li class="d-flex justify-content-between">
                                Sun - Wed : <span>8:00 - 17:00</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                Thu - Fri : <span>9:00 - 17:00</span>
                            </li>
                            <li class="d-flex justify-content-between">
                                Sat - sun : <span>10:00 - 17:00</span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section th:if="${ROLE==null}"  class="section about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-sm-6">
                <div class="about-img">
                    <img src="userPage/images/about/img-1.jpg" alt="" class="img-fluid"/>
                    <img src="userPage/images/about/img-2.jpg" alt="" class="img-fluid mt-4"/>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="about-img mt-4 mt-lg-0">
                    <img src="userPage/images/about/img-3.jpg" alt="" class="img-fluid"/>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about-content pl-4 mt-4 mt-lg-0">
                    <h2 class="title-color">KB차차차<br/>
                    무사고 진단 차량 </h2>
                    <p class="mt-4 mb-5">
                        진단 전문가각 직접 진단하여 믿을 수 있는 품질!<br>
                        무사고 차량 , KB차차차가 책임집니다.
                    </p>

                    <a
                            href="https://www.kbchachacha.com/"
                            class="btn btn-main-2 btn-round-full btn-icon"
                    >바로가기<i class="icofont-simple-right ml-3"></i
                    ></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 현 등록 차량?? -->
<section th:if="${ROLE==null}"  class="cta-section">
    <div class="container">
        <div class="cta position-relative">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-stat">
                        <i class="icofont-doctor"></i>
                        <span class="h3">58</span>k
                        <p>현재 등록자 보유 차량</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-stat">
                        <i class="icofont-flag"></i>
                        <span class="h3">700</span>+
                        <p>금일 사이트 이용자</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-stat">
                        <i class="icofont-badge"></i>
                        <span class="h3">40</span>+
                        <p>중고차 매물 수량</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-stat">
                        <i class="icofont-globe"></i>
                        <span class="h3">20</span>
                        <p>딜러 인원수 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section th:if="${ROLE!=null}" class="section service gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="section-title">
                    <h2>쉽고 간편하게 관리자 사이트를 이용하세요!</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>
                        Lets know moreel necessitatibus dolor asperiores illum possimus
                        sint voluptates incidunt molestias nostrum laudantium. Maiores
                        porro cumque quaerat.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-item mb-4">
                    <div class="icon d-flex align-items-center">
                        <i class="icofont-laboratory text-lg"></i>
                        <h4 class="mt-3 mb-3">전문성과 경험</h4>
                    </div>

                    <div class="content">
                        <p class="mb-4">
                            국내 최초, 업계 유일의 품질보장제(SLA)로
                            안정된 서비스 운영을 보장합니다.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-item mb-4">
                    <div class="icon d-flex align-items-center">
                        <i class="icofont-heart-beat-alt text-lg"></i>
                        <h4 class="mt-3 mb-3">강력한 보안</h4>
                    </div>
                    <div class="content">
                        <p class="mb-4">
                            전문 보안 관제팀이 맞춤형 보안 정책을
                            수립해 정보 자산을 안전하게 보호합니다.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-item mb-4">
                    <div class="icon d-flex align-items-center">
                        <i class="icofont-tooth text-lg"></i>
                        <h4 class="mt-3 mb-3">24/365 서버 관리</h4>
                    </div>
                    <div class="content">
                        <p class="mb-4">
                            전문 엔지니어가 365일 24시간 IDC에
                            상주하며 이슈에 실시간 대응합니다.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<section th:if="${ROLE!=null}" class="section clients">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title text-center">
                    <h2>Partners who support us</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>
                        Lets know moreel necessitatibus dolor asperiores illum possimus
                        sint voluptates incidunt molestias nostrum laudantium. Maiores
                        porro cumque quaerat.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row clients-logo">
            <div class="col-lg-2">
                <div class="client-thumb">
                    <img src="images/about/1.png" alt="" class="img-fluid"/>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="client-thumb">
                    <img src="images/about/2.png" alt="" class="img-fluid"/>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="client-thumb">
                    <img src="images/about/3.png" alt="" class="img-fluid"/>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="client-thumb">
                    <img src="images/about/4.png" alt="" class="img-fluid"/>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="client-thumb">
                    <img src="images/about/5.png" alt="" class="img-fluid"/>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="client-thumb">
                    <img src="images/about/6.png" alt="" class="img-fluid"/>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="client-thumb">
                    <img src="images/about/3.png" alt="" class="img-fluid"/>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="client-thumb">
                    <img src="images/about/4.png" alt="" class="img-fluid"/>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="client-thumb">
                    <img src="images/about/5.png" alt="" class="img-fluid"/>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="client-thumb">
                    <img src="images/about/6.png" alt="" class="img-fluid"/>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer Start -->
<!--      Model 에서 전송 되는 값에 따라 다르게 보이게-->
<th:block th:replace="userFragment/footer :: footerFragment"></th:block>

<!--
Essential Scripts
=====================================-->

<!-- Main jQuery -->
<script src="plugins/jquery/jquery.js"></script>
<!-- Bootstrap 4.3.2 -->
<script src="user/plugins/bootstrap/js/popper.js"></script>
<script src="user/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="user/plugins/counterup/jquery.easing.js"></script>
<!-- Slick Slider -->
<script src="user/plugins/slick-carousel/slick/slick.min.js"></script>
<!-- Counterup -->
<script src="user/plugins/counterup/jquery.waypoints.min.js"></script>

<script src="user/plugins/shuffle/shuffle.min.js"></script>
<script src="user/plugins/counterup/jquery.counterup.min.js"></script>
<!-- Google Map -->
<script src="user/plugins/google-map/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

<script src="user/js/script.js"></script>
<script src="user/js/contact.js"></script>
</body>
</html>
