<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
</head>
<body>
<div th:fragment="fragment-companycar-search" class="col-lg-12">
    <div class="card shadow mb-4">
        <div class="card-body">
            <form id="formBox">
                <div class="form-group row">
                    <label
                            class="col-sm-2 col-form-label"
                    >출고 년도</label
                    >
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>최소 출고 년도</label>
                            <input
                                    class="form-control"
                                    placeholder="1998"
                                    name="createdModelYear" type="number"/>
                        </div>
                        <div class="form-group col-md-6">
                            <label>최대 출고 년도</label>
                            <input name="lastedModelYear" class="form-control" placeholder="2021" type="number"/>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label
                            class="col-sm-2 col-form-label"
                    >주행 거리</label
                    >
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>최소 주행 거리</label>
                            <input
                                    name="lessEqualDistance"
                                    class="form-control"
                                    placeholder="0"
                                    type="number"/>

                        </div>
                        <div class="form-group col-md-6">
                            <label>최대 주행 거리</label>
                            <input name="greaterEqualDistance"
                                   placeholder="100"
                                   class="form-control"
                                   type="number"/>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label
                            class="col-sm-2 col-form-label"
                    >가격</label
                    >
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>최소 가격</label>
                            <input
                                    name="lessEqualPrice"
                                    class="form-control"
                                    placeholder="0"

                                    type="number"/>
                        </div>
                        <div class="form-group col-md-6">
                            <label>최대 가격</label>
                            <input
                                    name="greaterEqualPrice"
                                    placeholder="100"
                                    class="form-control"
                                    type="number"/>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label
                            class="col-sm-2 col-form-label"
                    >모델</label
                    >
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input
                                    name="name"
                                    placeholder="suv"
                                    class="form-control"
                                    type="text"/>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label
                            class="col-sm-2 col-form-label"
                    >색깔</label
                    >
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input
                                    name="color"
                                    class="form-control"
                                    placeholder="Red"
                                    type="text"/>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label
                            class="col-sm-2 col-form-label"
                    >차량 옵션</label
                    >
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input
                                    name="modelOption"
                                    class="form-control"
                                    placeholder="sheet"
                                    type="text"/>
                        </div>
                    </div>
                </div>

<!--체크 박스 -->

                <div class="form-group row">
                    <label
                            class="col-sm-2 col-form-label"
                    >변속기</label
                    >
                        <div class="form-check col-sm-6">
                            <div class="form-check form-check-inline">
                                <input type="radio"
                                       class="form-check-input"
                                       checked="checked"
                                       name="carTransmissionKind" value="STICK"/>

                                <label>수동</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input
                                        type="radio"
                                        class="form-check-input"
                                        name="carTransmissionKind"
                                        value="AUTOMATIC"
                                        checked="checked"
                                />
                                <label>자동</label>
                            </div>
                        </div>
                </div>
<!---->
                <div class="form-group row">
                    <label
                            class="col-sm-2 col-form-label"
                    >차량 탑승 인원</label
                    >
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <input
                                    type="number"
                                    class="form-control"
                                    placeholder="0"
                                    name="passengers"/>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label
                            class="col-sm-2 col-form-label"
                    >차량 이미지 경로 등록 여부</label
                    >
                    <div class="form-check col-sm-1">
                        <input
                                class="form-check-input"
                                type="checkbox" name="isImageSrc"/>
                        <label
                                class="form-check-label"
                        >
                            등록 유무
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <label
                            class="col-sm-2 col-form-label"
                    >차량 등록자 이름</label
                    >
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input
                                    class="form-control"
                                    placeholder="admin"
                                    type="text" name="registerAdminName"/>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label
                            for="inputPassword3"
                            class="col-sm-2 col-form-label"
                    >등록 일자</label
                    >
                    <div class="col-md-3 col-xs-4">
                        <div class="form-group">
                            <div
                                    class="input-group date"
                                    id="datetimepicker1"
                                    data-target-input="nearest"
                            >
                                <input
                                        type="text"
                                        class="form-control datetimepicker-input"
                                        data-target="#datetimepicker1"
                                        value="01/10/2021"
                                        id="datetimpepicker_first"
                                        name="createdAt"
                                />
                                <div
                                        class="input-group-append"
                                        data-target="#datetimepicker1"
                                        data-toggle="datetimepicker"
                                >
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-4">
                        <div class="form-group">
                            <div
                                    class="input-group date"
                                    id="datetimepicker2"
                                    data-target-input="nearest"
                            >
                                <input
                                        type="text"
                                        class="form-control datetimepicker-input"
                                        data-target="#datetimepicker2"
                                        value="09/10/2021"
                                        id="datetimpepicker_last"
                                        name="lastCreatedAt"
                                />
                                <div
                                        class="input-group-append"
                                        data-target="#datetimepicker2"
                                        data-toggle="datetimepicker"
                                >
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">
                            검색
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
